{% extends "layout.html" %}
{% block content%}
    <h1>ABOUT PAGE<h1>
    
    <p style="font: 0.5em sans-serif;color: grey;" >This project aims to develop a chatbot leveraging the Mistral large language model for natural language understanding and generation, integrated with a PostgreSQL database for data storage. The chatbot provides users with a conversational interface to interact with various services and retrieve information. Users can communicate with the chatbot through a web-based interface, sending messages that are processed by the backend. The backend utilizes Mistral to interpret user inputs, generate responses, and interact with the PostgreSQL database to  retrieve relevant data. The chatbot supports features such as user authentication, session management, and error handling. The architecture ensures scalability, maintainability, and reliability of the chatbot application.</p>
{% endblock content %}
    
